.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
ul.pagination li {
    display: inline-block;
    width: 33px;
    height: 30px;
    border: 3px solid rgba(36, 176, 255, 1);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 28px;
    margin: 3px;
    padding-bottom: 3px;
}

ul.pagination li:first-child, ul.pagination li:last-child{
    display: none;
}

ul.pagination li:nth-child(2), ul.pagination li:nth-last-child(2) {
    border: none;
    font-weight: bold;
}
  
ul.pagination li a {
    text-decoration: none;
    color: rgba(36, 176, 255, 1);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
}

ul.pagination li.active a {
    color: #FFF;
}

ul.pagination li.active {
    background-color: rgba(36, 176, 255, 1);
    color: #FFF;
}
